html {
    background: rgb(186, 12, 47);
    color: rgb(10, 10, 60);
    font: 16px/1.5 "Merriweather Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {box-sizing: inherit}

h2 {
    margin-bottom: 0.5rem;
}

.wrapper {
    background: rgba(255, 255, 255, 0.95);
    /*align-content: center;*/
    justify-content: center;
    width: 28.5rem;
    display: block;
    margin: auto;
}

.items {
    padding-left: 5px;
    margin-bottom: 0px;
}

.items li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.items input {
    margin-right: 6px;
}


/*.items input + label:before {
    content: '⬜️';
    margin-right: 10px;
    margin-top: 4px;
}*/

.add-items {
    margin-bottom: 20px;
    align-content: center;
    /*display: inline-block;*/
}

.add-items input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-left: -5px;
}

.add-items input[type="text"] {
    width: 25rem;
    margin: 0.5rem 0 0.5rem 0;
}

.sidebar button {
    margin-right: 25px;
    background: black;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    transition: 0.3s;
    border: none;
    width: 90px;
    text-align: left;
    font: inherit;
    font-size: .75rem;
}

.sidebar {
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    transition: 0.5s;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: left;
    font: inherit;
    padding-top: 25px;
}

.openSide {
    color: black;
    display: flex;
    transform: translateX(15px);
}

.closeSide {
    position: absolute;
    top: 0;
    right: 5px;
}

.openSide:hover, .closeSide:hover, button:hover {
    cursor: pointer;
    color: white;
}
